<div id="container">
  <div class="overlay-left"></div>
  <div class="overlay-right"></div>
  <div id="grid" class="image-cropper" >
    <div *ngFor="let item of imageUrls; let i = index" 
    [hidden]="i !== 0"
    [attr.class]="i"
    [@move]="state" 
    (@move.done)="onFinish($event)" 
    (@move.start)="onStart($event)" 
      >
        <img  class="standarImage" [ngStyle]="{'object-fit': imageFit, 'transform': item.rotate? item.rotate : 0}" [src]="item.url" />
        <button *ngIf="item.btnText && item.btnText.length > 0" (click)="onClickButton(item)" class="btn" [ngClass]="{'md': buttonSize === 'medium', 'lg': buttonSize === 'large', 'left': buttonPosition === 'left', 'right': buttonPosition === 'right'}" >{{item.btnText}}</button>
    </div>
  </div>
  <div>
    
    <a id="slider-buttons-left" (click)="moveLeft()">&#10094;</a>
    <a id="slider-buttons-right" (click)="moveRight()">&#10095;</a>
  </div>
</div>