#container{
    position: relative;
    overflow-x: hidden;
 }
 #grid {
   display: grid;
   height: 150;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: 500px;
   grid-column-gap: 20px;
 }
 
 .overlay-left {
     position: absolute;
     display: inline-block;
     display: grid;
     width: 7rem;
     height: 100%;
     top: 0%;
     left: 0;
     bottom: 0;
     background-color: white;
     z-index: 1;
     cursor: pointer;
 }
 
 .overlay-right {
     position: absolute;
     display: inline-block;
     display: grid;
     width: 7rem;
     height: 100%;
     top: 0%;
     right: 0;
     bottom: 0;
     background-color: white;
     z-index: 1;
     cursor: pointer;
 }
 #slider-buttons-right:active,  #slider-buttons-left:active {
    color: rgb(216, 216, 216);
 }
 
 #grid > div {
   background-color: rgba(255, 255, 255, 0);
 }
 
 #slider-buttons-left{
    
   position: absolute;
   z-index: 1000;
   top: 6em;
   float: left;
   cursor: pointer;
   font-size: 250%;
   color: #778899;
   left: 60px;
   
 }
 
 #slider-buttons-right{
    
   position: absolute;
   top: 6em;
   z-index: 1000;
   float: right;
   cursor: pointer;
   font-size: 250%;
   color: #778899;
   right: 60px;
   
 }
 
 .image-cropper {
     height: 500px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
//  .image-cropper img {
//      max-width: 100%;
//      max-height: 100%;
//      display: block;
//      margin: 0 auto;
//  }
 .image-cropper img {
   width: 1200px;
   height: 500px;
   object-fit: contain;
   display: block;
   margin: 0 auto;
 }

 // Clases para el botón
 .btn{
    background-color: chocolate;
    color: white;
    border: 0;
    border-radius: 30px;
    z-index: 2;
    font-size: 16px;
    padding: 0.5em 2em;
    opacity: 0.8;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
    &.lg {
      font-size: 28px;
      transform: translate(-50%, -50%);
      top: 89%;
      left: 50%;
    }
    &.md {
      font-size: 20px;
      transform: translate(-50%, -50%);
      top: 90%;
      left: 50%;
    }
    &.left {
      transform: translate(-50%, -50%);
      top: 90%;
      left: 19%;
    }
    &.right {
      transform: translate(-50%, -50%);
      top: 90%;
      left: 80%;
    }
 }
 .btn:hover {
    cursor: pointer;
    outline: none;
    opacity: 0.9;
    background-color: rgb(192, 95, 25);
 }
 .btn:focus{
    outline: none;
 }
 .btn:active {
    opacity: 1;
    outline: none;
    box-shadow: inset 0 0 10px #494848;
    background-color: rgb(165, 86, 29);
 }
 